.container{
    margin-top: 50px;
}
.title{
    color: var(--softTextColor);
    margin-bottom: 30px;
}
.write{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.input{
    padding: 12px;
    width: 80%;
}
.user{
    display: flex;
    align-items: center;
    gap: 20px;
     margin-bottom: 20px;
}
.image{
    border-radius: 50%;
    object-fit: cover;
}
.comments{
    margin-top: 50pxx;
}
.comment{
    margin-top: 50px;
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}
  .username{
    font-weight: 500;
  }
  .userdate{
    font-size: 14px;
  }
  .desc{
    font-size: 18px;
    font-weight: 300;
  }
.btn {
    padding: 16px;
    
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media screen and (max-width:640px) {
    .btn{
        padding: 8px;
        width: 120px;
        height: 35px;
    }
    .input{
        padding: 6px;
        width: 80%;
    }
}
@media screen and (max-width:460px) {
    .btn{
        padding: 8px;
        width: 120px;
        height: 35px;
    }
    .input{
        padding: 4px;
        width: 80%;
    }
}
