.container{

}
.editor{
    display:flex;
    gap: 20px;
    height: 700px;
    position: relative;
}
.textArea{
    width: 100%;
}
.btn,.addButton{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border:1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.addButton{
    border-color: green;
}
.add{
    display: flex;
    gap: 20px;
    position: absolute;
    background-color: var(--bg);
    z-index: 999;
    width: 100%;
    left: 50px;
}
.input{
    padding: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 49px;
    color: var(--TextColor);
}
.input::placeholder{
    color: #b3b3b1;
}
.publish{
    position: relative;
    top: 30px;
    right: 20px;
    padding: 10 20px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
   margin-top: 50px;
    z-index: 0;
    border-radius: 10px;
}
.publish:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.publish:active {
    color: #000
}

.publish:active:after {
    background: transparent;
}

.publish:hover:before {
    opacity: 1;
}

.publish:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media screen and (max-width:640px) {
    .publish{
        padding: 8px;
        width: 120px;
        height: 30px;
        top: 100px;
    }
}