.container{
  margin-top: 50px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--softTextColor);
}

.info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex:1
}
.links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logoText{
    font-size: 24px;
}
.desc{
    font-weight: 300;
}
.icon{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}
.listTitle{
    font-weight: bold;
}
@media screen and (max-width:1024px) {
    .links{
        gap: 50px;
    }
}
@media screen and (max-width:768px) {
    .links{
        justify-content: space-between;
        width: 100%;
    }
    .container{
        flex-direction: column;
        gap: 50px;
    }
}
@media screen and (max-width:668px) {
    .links{
       font-size: 14px;
    }
  
}